<div>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Exchange Rate</span>
      <!-- Filler that pushes the menu button to the end of the toolbar -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="name-container">
      <div *authed="false">
        <a mat-button color="accent" [routerLink]="['auth']">SIGN IN</a>
      </div>
      <div *authed="true">
        <div>Welcome, {{(currentUser|async)}}</div>
        <div>
          <button mat-button mat-raised-button color="warn" (click)="signout()">SIGN OUT</button>
        </div>
      </div>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'"> Home </a>
      <a mat-list-item [routerLink]="'/exchange'"> Tipo de cambio </a>
      <a mat-list-item [routerLink]="'/conversion'"> Cambiar </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


</div>
